.dashboardSection {
  background-image: url("../assets/images/hero-bg.jpg");
}

.sidebar .links::-webkit-scrollbar {
  display: none;
}

.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
}

.links li:hover {
  cursor: pointer;
  background: #999797;
}

.links li span {
  padding: 12px 10px;
}
