.searchInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.searchInput {
  /* width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: #8b5bf6;
  cursor: pointer;
  transition: all 0.5s ease-in-out; */
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #8b5bf6;
  width: 290px;
  height: 40px;
  cursor: text;
  padding: 18px 16px 18px 50px;
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.searchInput::placeholder {
  color: #000;
}

.searchInput:focus::placeholder {
  color: #000;
}

.searchInput:hover::placeholder {
  color: #4b5563;
}

/* .searchInput:focus,
.searchInput:hover,
.searchInput:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid #8b5bf6;
  width: 290px;
  cursor: text;
  padding: 18px 16px 18px 50px;
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
} */

.searchIcon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1;
  fill: #8b5bf6;
  pointer-events: none;
}

.searchInput:hover + .searchIcon {
  transition: 0.2s ease-in-out;
}

.searchInput:focus + .searchIcon,
.searchInput:not(:placeholder-shown) + .searchIcon {
  z-index: 0;
  background-color: transparent;
  border: none;
  pointer-events: auto;
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}
