.formGroup input:valid,
.formGroup input:focus {
  outline: none;
  background: transparent;
  box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px #cbced1;
}

.formGroup input:valid + label,
.formGroup input:focus + label {
  color: #000000;
  /* font-size: 14px; */
  transform: translate(8px, 8px);
  background: #e0e6eb;
  border-radius: 3px;
  padding: 0px 4px;
}

.formGroup label {
  transition: all 0.2s ease-in-out;
}

/* .shapeDiv1 {
  width: 0;
  height: 0;
  border-top: 100px solid #895dd5;
  border-right: 100px solid transparent;
}
.shapeDiv2 {
  width: 0;
  height: 0;
  border-top: 100px solid #895dd5;
  border-left: 100px solid transparent;
} */

.checkboxLabel {
  color: #000;
  font-size: 8em;
  font-weight: bold;
  font-family: sans-serif;
}

input[type="checkbox"]:checked {
  background-color: violet;
}
