.formGroup input:valid,
.formGroup input:focus {
  outline: none;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.formGroup input:valid + label,
.formGroup input:focus + label {
  color: #000000;
  /* font-size: 14px; */
  transform: translate(8px, 8px);
  background: #DDE1E7;
  border-radius: 3px;
  padding: 0px 4px;
  /* background-color: inherit; */
}

.formGroup input[type="checkbox"] {
  background-color: red;
}

.formGroup label {
  transition: all 0.2s ease-in-out;
}

/* .shapeDiv1 {
  width: 0;
  height: 0;
  border-top: 100px solid #895dd5;
  border-right: 100px solid transparent;
}
.shapeDiv2 {
  width: 0;
  height: 0;
  border-top: 100px solid #895dd5;
  border-left: 100px solid transparent;
} */

.checkboxLabel {
  color: var(--colorMain);
  font-size: 8em;
  font-weight: bold;
  font-family: sans-serif;
}

input[type="checkbox"]:checked {
  background-color: violet;
}
