.question-container {
    display: flex;
    flex-direction: column;
  }
  
  .question {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .radio-inputs {
    margin-left: 20px;
  }
 
  