body {
  font-family: "Roboto", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.roboto-regular,
.displayFair-regular {
  font-weight: 400;
}

.roboto-bold,
.displayFair-bold {
  font-weight: 600;
}

.DisplayFair {
  font-family: "Playfair Display", serif;
}

/* .primaryColor{
  background-color: #edab03;
} */
.modal-box {
  cursor: auto;
}
.modal-open {
  cursor: pointer;
}

.swal2-title {
  font-family: "Roboto Condensed", "sans-serif";
}

.neuromorphism {
  border-radius: 32px;
  background: #e0e0e0;
  box-shadow: 18px 18px 38px #bebebe, -18px -18px 38px #ffffff;
}
