body {
  font-family: "Roboto", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.roboto-regular,
.displayFair-regular {
  font-weight: 400;
}

.roboto-bold,
.displayFair-bold {
  font-weight: 600;
}

.DisplayFair {
  font-family: "Playfair Display", serif;
}

.active {
  background-color: #fff;
}
