.font-georgia {
  font-family: Georgia, serif;
}

:root {
  --colorMain: #c0c0c0;
  --brShadow: -6px 6px 15px rgba(0, 0, 0, 0.5);
  --tlShadow: 6px -6px 15px rgba(255, 255, 255, 0.8);
}

body {
  font-family: "Roboto Condensed", "sans-serif";
  scroll-behavior: smooth;
}

.modal-box {
  cursor: auto;
}
.modal-open {
  cursor: pointer;
}

.swal2-title {
  font-family: "Roboto Condensed", "sans-serif";
}

table tbody tr:nth-child(2n) {
  background-color: #f9fafb;
}
table tbody tr:hover {
  background-color: #e8eaec;
}

/* Neuromorphism */

/* .nm_Container {
  border-radius: 6px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.nm_Inset {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.nm_Inset:focus {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
} */

.nm_Container {
  border-radius: 6px;
  box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
}

.nm_Inset {
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.text {
  color: var(--colorMain);
  font-size: 8em;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: var(--brShadow), var(--tlShadow);
}

/* Custom CSS for sticky table header */
#tsparticles {
  z-index: -10;
  background-color: transparent;
}

.css-3d-text {
  text-shadow: 0px 0px 0 rgb(231, 231, 231), 1px 1px 0 rgb(216, 216, 216),
    2px 2px 0 rgb(202, 202, 202), 3px 3px 0 rgb(187, 187, 187),
    4px 4px 0 rgb(173, 173, 173), 5px 5px 0 rgb(158, 158, 158),
    6px 6px 0 rgb(144, 144, 144), 7px 7px 6px rgba(0, 0, 0, 0.7),
    7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 3rem;
  position: absolute;

  /* transform: translate(-50%, -50%); */
}

.content h2:nth-child(1) {
  color: transparent;
  transform: translate(-10%, -10%);
  -webkit-text-stroke: 2px #c1bdf6;
}

.content h2:nth-child(2) {
  color: #000;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  /* 0%,
  100% {
    clip-path: polygon(
      0% 0%,
      16% 10%,
      33% 89%,
      54% 55%,
      70% 25%,
      84% 50%,
      100% 100%,
      100% 100%,
      0% 100%
    );
  }

  30% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 29%,
      51% 20%,
      67% 30%,
      84% 65%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  } */
}

.text6 {
  text-shadow: 0 13.36px 8.896px #2c482e, 0 -2px 1px #aeffb4;
  letter-spacing: -4px;
  color: #6fb374;
}

/* select:focus,
select:valid,
input:focus,
input:valid {
  box-shadow: inset -3px -3px 7px #ffffffb0,
    inset 3px 3px 5px rgba(94, 104, 121, 0.692);
} */

/* select,
input {
  box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
} */

/* radio btn design  */
.radio-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  /* display: inline-block; */
  padding-left: 30px;
  /* margin-bottom: 10px; */
  position: relative;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: #8b5bf6;
  border-color: transparent;
  /* transform: scale(0.8); */
  /* box-shadow: 0 0 10px #4c8bf580; */
}

.radio-button__input:checked + .radio-button__label {
  color: #8b5bf6;
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.1);
  border-color: #8b5bf6;
  /* box-shadow: 0 0 10px #8b5bf6; */
}

/* create new application btn design  */

/* .create-application-text {
  max-height: 25px;
  max-width: 0px;
  overflow: hidden;
  opacity: 0;
  transition: max-width 1s;
}

.star-btn:hover .create-application-text {
  max-width: 1000px;
  opacity: 1;
  transition: max-width 6s, opacity 2s;
} */

.star-btn {
  position: relative;
  padding: 12px 25px;
  /* background: #b67eee; */
  /* font-size: 17px; */
  font-weight: 600;
  color: #8b5bf6;

  border-radius: 8px;
  /* box-shadow: 0 0 5px #8b5bf6; */
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
}

.star-1 {
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.star-btn:hover {
  background: transparent;
  color: #8b5bf6;
  /* box-shadow: 0 0 25px #8b5bf6; */

  /* animation: sh02 0.5s 0s linear; */
}

.star-btn:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -10%;
  width: 25px;
  height: auto;

  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-btn:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-btn:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-btn:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-btn:hover .star-5 {
  position: absolute;
  top: 105%;
  left: 90%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-btn:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #8b5bf6;
}

/* fancy save and continue btn  */
.fancy-button {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  background: linear-gradient(to bottom, #a29bfe 0%, #6c5ce7 100%);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.fancy-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-30deg);
  transition: left 0.3s ease-in-out;
}

.fancy-button:hover {
  transform: scale(1.1);
}

.fancy-button:hover:before {
  left: 100%;
}

/* draft application table delete icon style  */
.delete-btn {
  background-color: transparent;
  position: relative;
  border: none;
}

.delete-btn::after {
  content: "delete";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  background-color: #ff5252;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.2s linear;
  transition-delay: 0.2s;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
}

.icon {
  /* transform: scale(1.2); */
  transition: 0.2s linear;
}

.delete-btn:hover > .icon path {
  fill: rgb(168, 7, 7);
}

.delete-btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}

/* save btn  */
.save-btn {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.save-btn:before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 20%;
  background-color: #e8e8e8;
  translate: -130% 0;
  rotate: 45deg;
  transition: all 0.4s ease;
}

.save-btn:hover {
  background-color: #8364e8;
  box-shadow: 0 0 10px rgba(131, 100, 232, 0.4);
}

.save-btn:hover:before {
  translate: 100%;
}

.save-btn:active {
  scale: 0.95;
  box-shadow: 0 0 16px 4px rgba(131, 100, 232, 0.4);
}

/* send pay icon  */
.pay-btn {
  /* font-family: inherit; */
  font-size: 16px;
  background: linear-gradient(to bottom, #a29bfe 0%, #6c5ce7 100%);
  color: white;
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.pay-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 0em;
  background: linear-gradient(to bottom, #a29bfe 0%, #6c5ce7 100%);
  cursor: pointer;
}

.pay-btn-container:hover .pay-btn {
  transform: scale(0.95);
  padding: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.pay-btn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.pay-btn-container:hover span {
  scale: 0;
  font-size: 0%;
  opacity: 0;
  /* transition: all 0.5s; */
}

.pay-btn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.pay-btn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

.pay-btn-container:hover .svg-wrapper {
  background: linear-gradient(to bottom, #a29bfe 0%, #6c5ce7 100%);
  width: 54px;
  height: 54px;
}

.pay-btn-container:hover svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  transform: rotate(45deg);
}

/* sent to department button  */
/* .sent-department-btn {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #ff135a;
  outline: #ff145b80;
}

.sent-department-btn .btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  background: #ff135a;
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 #ff135a;
}

.sent-department-btn .btn-content:hover,
.sent-department-btn .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 #ff135a;
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
} */

/* SVG */
/* #arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
} */

/* SVG animations */
/* @keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #ff135a;
  }

  100% {
    fill: white;
  }
} */

/* Button animations */
/* @-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid #ff135a;
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid #ff135a;
    outline-offset: 0;
  }
} */

.sent-department {
  display: flex;
  align-items: center;
  padding: 11px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, #a29bfe 0%, #6c5ce7 100%);
  transition: 1s;
  box-shadow: 6px 6px 0 #a29bfe;
  border-radius: 10px;
  /* transform: skewX(-15deg); */
  border: none;
}

.sent-department:focus {
  outline: none;
}

.sent-department:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #a29bfe;
  transform: skewX(-15deg);
}

.sent-department .second {
  transition: 0.5s;
  margin-right: 0px;
}

.sent-department:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.sent-department .second {
  width: 20px;
  margin-left: 5px;
  position: relative;
  top: 12%;
}

.sent-department .one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.sent-department .two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.sent-department:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.sent-department:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.sent-department:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}

/* search application inward  */
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  font-family: "Roboto Condensed", "sans-serif";
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  background-color: #9c88ff;
  padding-right: 40px;
  color: #000;
}
.input-search::placeholder {
  color: #485460;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 500px;
  padding: 0 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
}
.input-search:focus,
.input-search:valid {
  width: 500px;
  /* border-radius: 0px; */
  padding: 0 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* loader style  */
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #706fd3;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: #4a4a4a;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #9c88ff;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 10;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #9c88ff;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: #9c88ff;
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* download button  */
.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background: linear-gradient(to bottom, #a29bfe 0%, #6c5ce7 100%);
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
  border-radius: 30px;
}

.buttonDownload:hover {
  background-color: #8b5bf6;
  color: white;
  transform: skewX(-15deg);
  border-radius: 10px;
  box-shadow: 8px 10px 0px 3px #000;
  transition: all 1s;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 15px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #cdefbd;
}

.buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}

/* remove input type number spinners */

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* border image  */
.border-image-frame {
  border-image-slice: 55 59 52 57;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-style: solid;
  border-image-source: url("../src/assets/images/frame2.png");
}

/* list number design  */

/* using The Counter-increment CSS property */

ol > li {
  margin: 0;
  padding: 0 20px 0 20px;
  text-indent: -20px;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  /* min-width: 100px; */
  padding-right: 7px;
  font-weight: bold;
  content: counter(item) ".";
}

/* Error Page Animation :  */
.planet {
  display: flex;
  width: 125px;
  height: 125px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #fcc96b;
  background: #fcc96b;
  background: linear-gradient(
    180deg,
    #fcc96b 0%,
    #fcc96b 15%,
    #f7ae01 15%,
    #f7ae01 19%,
    #fcc96b 19%,
    #fcc96b 22%,
    #f7ae01 22%,
    #f7ae01 28%,
    #fcc96b 28%,
    #fcc96b 31%,
    #fcc96b 33%,
    #fcc96b 36%,
    #f7ae01 36%,
    #f7ae01 48%,
    #fcc96b 48%,
    #fcc96b 55%,
    #f7ae01 55%,
    #f7ae01 66%,
    #fcc96b 66%,
    #fcc96b 70%,
    #f7ae01 70%,
    #f7ae01 73%,
    #fcc96b 73%,
    #fcc96b 82%,
    #f7ae01 82%,
    #c7ba9d 86%,
    #fcc96b 86%
  );
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
    0 0 100px #ffffff59;
  transform: rotateZ(-15deg);
}
/*=============================> btn3D design  */
.btn3D {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  /* background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%); */
  /* border: 1px solid #8b5bf6; */
  transition: all 0.1s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  border-radius: 6px;
  box-shadow: 4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
}

.btn3D:focus {
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #d48b0c;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b99309;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}
/* Error Page Animation end :  */
